//------------------------------------------------
//font-face
//------------------------------------------------
// Font
@include font-face(
    (
        name: "Roboto",
        path: "../fonts/roboto/roboto_regular"
    )
);

@include font-face(
    (
        name: "Roboto",
        path: "../fonts/roboto/roboto_bold",
        weight: bold
    )
);

@include font-face(
    (
        name: "Roboto",
        path: "../fonts/roboto/roboto_italic",
        style: italic
    )
);

//------------------------------------------------
//End font-face
//------------------------------------------------
