@use "../core" as *;

.logo_sqhtml {
    &:before {
        @include icon-svg((
            svg: logo_sqhtml,
            width: 270px,
            height: 99px,
            fill: $c3,
            position: (
                position: absolute,
                z: false
            )
        ));
        content: "";
    }
}
